@{
  Layout = "_Layout";
}

<h1>Add a medium</h1>
<p>Add a medium here:</p>

<form action="/mediums" method="post">
  <label for="mediumName">Medium name</label>
  <input id="mediumName" name="mediumName" type="text">
  <button type="submit">Add</button>
</form>

<p><a href="/">Back home</a></p>
<p><a href="/mediums">Back to mediums.</a></p>